{% macro buildHtml(item) %}
  {% import _self as self %}

  <table>
    {% for name, value in item %}
      {% if value is iterable %}
        <tr><td><strong>{{ name }}</strong></td></tr>
        <tr>
          <td></td>
          <td>{{ self.buildHtml(value) }}</td>
        </tr>
      {% else %}
        <tr>
          <td><strong>{{ name }}</strong></td>
          <td>{{ value }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
{% endmacro %}

{% macro buildPlain(item) %}
  {% import _self as self %}

  {% for name, value in item %}
    {{ name }}: {{ value is iterable ? self.buildPlain(value) : value }}
  {% endfor %}
{% endmacro %}

{% import _self as macros %}

{% if html %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
        
      <style type="text/css">
        body,table,td,a{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
        @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
        img{border:0;height:auto;line-height:100%;outline:none;text-decoration:none;}
        table{border-collapse:collapse!important;}
        body{font-family:'Open Sans',sans-serif;height:100%;margin:0;padding:30px;width:100%;font-size:16px;}
        a{color:inherit!important;}
      </style>
    </head>
    
    <body>
      {{ macros.buildHtml(letter) }}
    </body>
  </html>
{% else %}
  {{ macros.buildPlain(letter) }}
{% endif %}
